<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,203}</string>
                <key>spriteSourceSize</key>
                <string>{164,203}</string>
                <key>textureRect</key>
                <string>{{0,0},{164,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>120.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,203}</string>
                <key>spriteSourceSize</key>
                <string>{164,203}</string>
                <key>textureRect</key>
                <string>{{164,0},{164,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>240.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,203}</string>
                <key>spriteSourceSize</key>
                <string>{164,203}</string>
                <key>textureRect</key>
                <string>{{328,0},{164,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>360.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,203}</string>
                <key>spriteSourceSize</key>
                <string>{164,203}</string>
                <key>textureRect</key>
                <string>{{492,0},{164,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>480.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,203}</string>
                <key>spriteSourceSize</key>
                <string>{164,203}</string>
                <key>textureRect</key>
                <string>{{656,0},{164,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>600.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,203}</string>
                <key>spriteSourceSize</key>
                <string>{164,203}</string>
                <key>textureRect</key>
                <string>{{820,0},{164,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>720.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,203}</string>
                <key>spriteSourceSize</key>
                <string>{164,203}</string>
                <key>textureRect</key>
                <string>{{984,0},{164,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>840.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,203}</string>
                <key>spriteSourceSize</key>
                <string>{164,203}</string>
                <key>textureRect</key>
                <string>{{1148,0},{164,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>960.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,203}</string>
                <key>spriteSourceSize</key>
                <string>{164,203}</string>
                <key>textureRect</key>
                <string>{{1312,0},{164,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_brandish_hit.png</string>
            <key>size</key>
            <string>{1476,203}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61a5d74f1f06ffab04b1ad52c5e8c668:3942f0ad7878ad97c022ed5dc298420e:85c31019190d6e09f3a767584a18eb02$</string>
            <key>textureFileName</key>
            <string>skill_brandish_hit.png</string>
        </dict>
    </dict>
</plist>
