<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1080.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,167}</string>
                <key>spriteSourceSize</key>
                <string>{313,167}</string>
                <key>textureRect</key>
                <string>{{313,334},{313,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1200.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,167}</string>
                <key>spriteSourceSize</key>
                <string>{313,167}</string>
                <key>textureRect</key>
                <string>{{626,334},{313,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>240.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,167}</string>
                <key>spriteSourceSize</key>
                <string>{313,167}</string>
                <key>textureRect</key>
                <string>{{0,0},{313,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>360.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,167}</string>
                <key>spriteSourceSize</key>
                <string>{313,167}</string>
                <key>textureRect</key>
                <string>{{313,0},{313,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>480.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,167}</string>
                <key>spriteSourceSize</key>
                <string>{313,167}</string>
                <key>textureRect</key>
                <string>{{626,0},{313,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>600.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,167}</string>
                <key>spriteSourceSize</key>
                <string>{313,167}</string>
                <key>textureRect</key>
                <string>{{0,167},{313,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>720.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,167}</string>
                <key>spriteSourceSize</key>
                <string>{313,167}</string>
                <key>textureRect</key>
                <string>{{313,167},{313,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>840.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,167}</string>
                <key>spriteSourceSize</key>
                <string>{313,167}</string>
                <key>textureRect</key>
                <string>{{626,167},{313,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>960.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,167}</string>
                <key>spriteSourceSize</key>
                <string>{313,167}</string>
                <key>textureRect</key>
                <string>{{0,334},{313,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_brandish.png</string>
            <key>size</key>
            <string>{939,501}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c996957e0a8b29705b7b57a579fe006f:6d0f519f76aa67b9320f9f4c01e57eb8:4dd123625bf69c0c7f03c443b61c3e48$</string>
            <key>textureFileName</key>
            <string>skill_brandish.png</string>
        </dict>
    </dict>
</plist>
