<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,145}</string>
                <key>spriteSourceSize</key>
                <string>{182,145}</string>
                <key>textureRect</key>
                <string>{{0,0},{182,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,145}</string>
                <key>spriteSourceSize</key>
                <string>{182,145}</string>
                <key>textureRect</key>
                <string>{{1456,0},{182,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1170.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,145}</string>
                <key>spriteSourceSize</key>
                <string>{182,145}</string>
                <key>textureRect</key>
                <string>{{1638,0},{182,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>150.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,145}</string>
                <key>spriteSourceSize</key>
                <string>{182,145}</string>
                <key>textureRect</key>
                <string>{{182,0},{182,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>270.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,145}</string>
                <key>spriteSourceSize</key>
                <string>{182,145}</string>
                <key>textureRect</key>
                <string>{{364,0},{182,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>390.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,145}</string>
                <key>spriteSourceSize</key>
                <string>{182,145}</string>
                <key>textureRect</key>
                <string>{{546,0},{182,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>540.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,145}</string>
                <key>spriteSourceSize</key>
                <string>{182,145}</string>
                <key>textureRect</key>
                <string>{{728,0},{182,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>660.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,145}</string>
                <key>spriteSourceSize</key>
                <string>{182,145}</string>
                <key>textureRect</key>
                <string>{{910,0},{182,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>780.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,145}</string>
                <key>spriteSourceSize</key>
                <string>{182,145}</string>
                <key>textureRect</key>
                <string>{{1092,0},{182,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>930.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,145}</string>
                <key>spriteSourceSize</key>
                <string>{182,145}</string>
                <key>textureRect</key>
                <string>{{1274,0},{182,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>monster_die.png</string>
            <key>size</key>
            <string>{1820,145}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e4fda8e6457b251782e6d7af57a29ab:dcbab6b2dd8766f35de13bae3589e32a:a886baed92a6c907f4b54942b37b7cfc$</string>
            <key>textureFileName</key>
            <string>monster_die.png</string>
        </dict>
    </dict>
</plist>
