<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>avatar_brandishNew2(0)_default(0).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,72}</string>
                <key>spriteSourceSize</key>
                <string>{95,72}</string>
                <key>textureRect</key>
                <string>{{97,171},{95,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_brandishNew2(1)_default(0).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,82}</string>
                <key>spriteSourceSize</key>
                <string>{90,82}</string>
                <key>textureRect</key>
                <string>{{1,98},{90,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_brandishNew2(2)_default(0).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,89}</string>
                <key>spriteSourceSize</key>
                <string>{81,89}</string>
                <key>textureRect</key>
                <string>{{103,1},{81,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_brandishNew2(3)_default(0).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,106}</string>
                <key>spriteSourceSize</key>
                <string>{42,106}</string>
                <key>textureRect</key>
                <string>{{186,1},{42,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_brandishNew2(4)_default(0).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,94}</string>
                <key>spriteSourceSize</key>
                <string>{62,94}</string>
                <key>textureRect</key>
                <string>{{1,182},{62,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>avatar_brandishNew2(5)_default(0).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,83}</string>
                <key>spriteSourceSize</key>
                <string>{71,83}</string>
                <key>textureRect</key>
                <string>{{93,98},{71,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>avatar_brandishNew2(6)_default(0).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,95}</string>
                <key>spriteSourceSize</key>
                <string>{100,95}</string>
                <key>textureRect</key>
                <string>{{1,1},{100,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player_skill1.png</string>
            <key>size</key>
            <string>{229,245}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e3915460d4e26504afbd740a594fa8c:441cc430202b5776979136707b06e08a:d0430b1e82e15bed8e4fcbafe5a26864$</string>
            <key>textureFileName</key>
            <string>player_skill1.png</string>
        </dict>
    </dict>
</plist>
