<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_0 (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,108}</string>
                <key>spriteSourceSize</key>
                <string>{123,108}</string>
                <key>textureRect</key>
                <string>{{1,1},{123,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_0 (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,108}</string>
                <key>spriteSourceSize</key>
                <string>{123,108}</string>
                <key>textureRect</key>
                <string>{{126,1},{123,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_0 (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,108}</string>
                <key>spriteSourceSize</key>
                <string>{123,108}</string>
                <key>textureRect</key>
                <string>{{251,1},{123,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player_attack.png</string>
            <key>size</key>
            <string>{375,110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1e41ccff46a58b5bec725c62098b14c:a35b17c10c09a579a55b7a20773cc639:2ee680a63d263ecb443928d4f9a29840$</string>
            <key>textureFileName</key>
            <string>player_attack.png</string>
        </dict>
    </dict>
</plist>
