<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>stand_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{75,70}</string>
			<key>spriteSourceSize</key>
			<string>{75,70}</string>
			<key>textureRect</key>
			<string>{{1,1},{75,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>stand_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{75,70}</string>
			<key>spriteSourceSize</key>
			<string>{75,70}</string>
			<key>textureRect</key>
			<string>{{78,1},{75,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>stand_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{75,70}</string>
			<key>spriteSourceSize</key>
			<string>{75,70}</string>
			<key>textureRect</key>
			<string>{{155,1},{75,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>hero_stand.png</string>
		<key>size</key>
		<string>{231,72}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:32fe612af371997887bc37fcf9f7c78f:2dc6b569524e7fb1eab6e74344d9b83c:93577b99c1b5d5f6a8c0e5572cd0ae81$</string>
		<key>textureFileName</key>
		<string>hero_stand.png</string>
	</dict>
</dict>
</plist>
